@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/helvb.ttf') format('truetype');
}

html, body {
    font-family: 'Helvetica', sans-serif;
    color: #191919;
    background-color: #e5e5e5;
    font-size: 48px;
}

#app {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 800px;
}

